@font-face {
    font-family: 'Scribish';
    src: url(../assets/fonts/scribish.ttf);
}

body {
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.logo {
    color: white;
    font-family: 'Scribish';
    font-size: 4vw;
}